<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <!-- The URL should be formatted as "http://Username:Password@SiteURL"   -->
  <!--<add key="BaseURL" value="http://app:app@dvml77868:25044/a/services/metrics/dataInventory.xqy?role=&indextype=&hlctype=&showbundle=&showcsi=&showls=&showsizes"/>-->
  <add key="BrowserType" value="Chrome" />
  <add key="UserName" value="app" />
  <add key="Password" value="app" />
  <add key="Environment" value="dev4" />
  <add key="InputXMLFilesPath" value="C:\Murali\Automation\1372757\sample"/>
  <add key="Dev8URL" value ="http://dvml77585:25044/b/services/metrics/dataInventory.xqy"/>
  <add key="dev4URL" value="http://dvml77868:25044/8.3/services/metrics/searchbundle.xqy"/>
</appSettings>
<!--<system.net>
  <connectionManagement>
    <add address="*" maxconnection="100"/>
  </connectionManagement>
</system.net>-->
</configuration>